# Filtering Data with SQL - Lab

## Introduction 

NASA wants to go to Mars! Before they build their rocket, NASA needs to track information about all of the planets in the Solar System. In this lab, you'll practice querying the database with various `SELECT` statements. This will include selecting different columns and implementing other SQL clauses like `WHERE` to return the data desired.

<img src="https://raw.githubusercontent.com/learn-co-curriculum/dsc-filtering-lab-v2-4/master/images/planets.png" alt="image of solar system" width="600">

## Objectives

You will practice the following:

* Retrieve a subset of records from a table using a `WHERE` clause
* Filter results using conditional operators such as `BETWEEN`, `IS NULL`, and `LIKE`
* Apply an aggregate function to the result of a filtered query

## Connecting to the Database

To get started, import `sqlite3` as well as `pandas` for conveniently displaying results. Then, connect to the SQLite database located at `planets.db`.

In [5]:
# Your code here
%pip install pandas
import sqlite3
import pandas as pd

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\anaconda3\envs\learn-env\lib\site-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting numpy>=1.20.3 (from pandas)
  Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in c:\users\administrator\anaconda3\envs\learn-env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp38-cp38-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/10.8 MB 2.1 MB/s eta 0:00:05
   ------ --------------------------------- 1.8/10.8 MB 4.2 MB/s eta 0:00:03
   ------------- -------------------------- 3.7/10.8 MB 5.6 MB/s eta 0:00:02
   ------------------------ --------------- 6.6/10.8 MB 7.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.2/10.8 MB 8.6 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 8.2 MB/s eta 0:00:00
Downloading numpy-1.24.4-cp38-cp38-win_amd64.whl (14.9 MB)
   ---------------------------------------- 0.0/14.9 MB ? eta -:--:--
   -------- ------------------------------- 3.1/14.9 MB 15.3 MB/s eta 0:00:01
   ----------- ---------------------------- 4.5/14.9 MB 11.2 MB/s eta 0:00:01
   ------------------- -------------------- 7.3/14.9 MB 11.6 MB/s eta 0:00:01
   --------------------- ------------------ 7.9/14.9 MB 9.9 MB/s eta 0:00:01
   ----------------------------- ---------- 11.0/14.9 MB 10.4 MB/s eta 0:00:01
   -------------------------------------- - 14.2/14.9 MB 11.1 MB/s eta 0:00:01
   ---------------------------------------  14.7/14.9 MB 11.0 MB/s eta 0:00:01
   ---------------------------------------- 14.9/14.9 MB 8.7 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2025.2 tzdata-2025.2

# Connecting to planets.db database

In [3]:
#connecting to database
conn= sqlite3.connect('planets.db')
#creating cursor
c= conn.cursor()

In [6]:
#checking if the table exists
c.execute('''
SELECT name FROM sqlite_master WHERE type='table' AND name='planets';
''')

## Database Schema

This database contains a single table, `planets`. This is the schema:

```
CREATE TABLE planets (
  id INTEGER PRIMARY KEY,
  name TEXT,
  color TEXT,
  num_of_moons INTEGER,
  mass REAL,
  rings BOOLEAN
);
```

The data looks something like this:

| id | name    | color      | num_of_moons | mass   | rings |
| -- | ------- | ---------- | ------------ | ------ | ----- |
| 1  | Mercury | gray       | 0            | 0.55   | FALSE |
| 2  | Venus   | yellow     | 0            | 0.82   | FALSE |
| 3  | Earth   | blue       | 1            | 1.00   | FALSE |
| 4  | Mars    | red        | 2            | 0.11   | FALSE |
| 5  | Jupiter | orange     | 67           | 317.90 | FALSE |
| 6  | Saturn  | hazel      | 62           | 95.19  | TRUE  |
| 7  | Uranus  | light blue | 27           | 14.54  | TRUE  |
| 8  | Neptune | dark blue  | 14           | 17.15  | TRUE  |

## SQL Queries

Write SQL queries for each of the statements below using the same pandas wrapping syntax from the previous lesson.

### 1. Select just the `name` and `color` of each planet

In [13]:
# select name and color of each planet
c.execute('''
SELECT name, color FROM planets;
''')
#displaying the result
c.fetchall()

[('Mercury', 'gray'),
 ('Venus', 'yellow'),
 ('Earth', 'blue'),
 ('Mars', 'red'),
 ('Jupiter', 'orange'),
 ('Saturn', 'hazel'),
 ('Uranus', 'light blue'),
 ('Neptune', 'dark blue')]

### 2. Select all columns for each planet whose `num_of_moons` is 0

In [15]:
# select all columns for each planet whose number of moons is 0
c.execute(''' 
SELECT * FROM planets WHERE num_of_moons = 0;
          ''')
#displaying the result
c.fetchall()

[(1, 'Mercury', 'gray', 0, 0.55, 0), (2, 'Venus', 'yellow', 0, 0.82, 0)]

### 3. Select the `name` and `mass` of each planet whose `name` has exactly 7 letters

In [16]:
# Selct name and mass of each planet whose name has exactly 7 characters
c.execute(''' 
SELECT name, mass FROM planets WHERE LENGTH(name) = 7;
          ''')
c.fetchall()

[('Mercury', 0.55), ('Jupiter', 317.9), ('Neptune', 17.15)]

### 4. Select all columns for each planet whose `mass` is greater than 1.00

In [17]:
# Select all columns for each planet whose mass is greater than 1.00
c.execute(''' 
SELECT * FROM planets WHERE mass > 1.00;
          ''')
c.fetchall()

[(5, 'Jupiter', 'orange', 68, 317.9, 0),
 (6, 'Saturn', 'hazel', 62, 95.19, 1),
 (7, 'Uranus', 'light blue', 27, 14.54, 1),
 (8, 'Neptune', 'dark blue', 14, 17.15, 1)]

### 5. Select the `name` and `mass` of each planet whose `mass` is less than or equal to 1.00

In [18]:
# Select name and mass of each planet whose mass is less than 1.00
c.execute(''' 
SELECT name, mass FROM planets WHERE mass < 1.00;
        ''')
c.fetchall()

[('Mercury', 0.55), ('Venus', 0.82), ('Mars', 0.11)]

### 6. Select the `name` and `mass` of each planet whose `mass` is between 0 and 50

In [19]:
# Select name and mass of each planet whose mass is between 0 and 50
c.execute(''' 
SELECT name, mass FROM planets WHERE mass BETWEEN 0 AND 50;
          ''')
c.fetchall()

[('Mercury', 0.55),
 ('Venus', 0.82),
 ('Earth', 1.0),
 ('Mars', 0.11),
 ('Uranus', 14.54),
 ('Neptune', 17.15)]

### 7. Select all columns for planets that have at least one moon and a `mass` less than 1.00

***Hint:*** You can use `AND` to chain together two conditions in SQL, similar to `and` in Python

In [21]:
# Select columns for planets that have at least one moon and a mass less than 1.00
c.execute(''' 
SELECT * FROM planets WHERE num_of_moons > 0 AND mass < 1.00;
          ''')
c.fetchall()

[(4, 'Mars', 'red', 2, 0.11, 0)]

### 8. Select the `name` and `color` of planets that have a `color` containing the string "blue"

In [22]:
# Select name and color of planets that have a color containing the string "blue"
c.execute(''' 
SELECT name, color FROM planets WHERE COLOR LIKE '%blue%';
          ''')
c.fetchall()

[('Earth', 'blue'), ('Uranus', 'light blue'), ('Neptune', 'dark blue')]

### 9. Select the count of planets that don't have rings as `planets_without_rings`

Note: even though the schema states that `rings` is a `BOOLEAN` and the example table shows values `TRUE` and `FALSE`, SQLite does not actually support booleans natively. From the [documentation](https://www.sqlite.org/datatype3.html#boolean_datatype):

> SQLite does not have a separate Boolean storage class. Instead, Boolean values are stored as integers 0 (false) and 1 (true).

In [24]:
# Select the count of planets that do not have rings as planets_without_rings
c.execute(''' 
SELECT COUNT(*) AS planets_without_rings FROM planets WHERE rings = 0;
          ''')
c.fetchall()

[(5,)]

### 10. Select the name of all planets, along with a value `has_rings` that returns "Yes" if the planet does have rings, and "No" if it does not

In [25]:
# Select name  of all planets ,along with a value rings that returns "Yes" if the planet does have rings, and "No" if it does not
c.execute(''' 
SELECT name, CASE WHEN rings = 1 THEN 'Yes' ELSE 'NO' END AS rings FROM planets; 
          ''')
c.fetchall()

[('Mercury', 'NO'),
 ('Venus', 'NO'),
 ('Earth', 'NO'),
 ('Mars', 'NO'),
 ('Jupiter', 'NO'),
 ('Saturn', 'Yes'),
 ('Uranus', 'Yes'),
 ('Neptune', 'Yes')]

In [26]:
#closeing the connection
conn.close()

## Summary

Congratulations! NASA is one step closer to embarking upon its mission to Mars. In this lab, You practiced writing `SELECT` statements that query a single table to get specific information. You also used other clauses and specified column names to cherry-pick the data we wanted to retrieve.